@charset "UTF-8";
@import "_var";
.pc{
    @include pc{
        display: none;
    }
}
.sp{
  display: none;
  @include sp{
    display: inherit;
  }
}
/*
ページ全体--------------------*/
html
{
    font-size: 62.5%;
}
body{
    font-family: $font;
    @include lh(19,31);

    @include sp{
        @include f(14);
    }

}
img{
    max-width: 100%;
    width: 100%;
    height: auto;
}
main{
}
a{
}
.wrap{
}

/*
header--------------------*/