<%
    var root = './';
    var thisPage = 'index';
    var thisName = '';
    var title = '';
%>
<%- include(root + '_inc/_head',{root,thisPage,title}) %>
<%- include(root + '_inc/_header',{root,thisPage}) %>
<main class="">
</main>
<%- include(root + '_inc/_footer',{root,thisPage}) %>
