<%
    var root = './';
    var thisPage = 'index';
    var thisName = '';
    var title = '';
%>
<%- include(root + '_inc/_head',{root,thisPage,title}) %>
<%- include(root + '_inc/_header',{root,thisPage}) %>
<main class="">
  <div class="description_area">
    <h2 class="tit_h2">Top</h2>
    <p>
      一次創作サークル「いそべあげ」による創作サイトです。<br>
      画像・本文の自作発言・転載・加工・使用はお断りしております。<br>
      Repost is prohibited
    </p>
  </div>
  <section class="new_articles_area">
    <article>
      <figure>
        <a href="#">

            <!-- <img src="" alt=""> -->
        </a>
      </figure>
      <div class="txtBox">
        <ul>
          <li class="date"><a href="#">0000.00.00</a></li>
          <li class="tag">
            <a href="#">一次創作</a>
            <a href="#">日記</a>
            <a href="#">BuJo</a>
          </li>
        </ul>
        <h3 class="tit_h3"><a href="#" >タイトル</a></h3>
        <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
      </div>
      <div class="reaction_btn">
        <a href="#"><i class="fa-solid fa-arrows-rotate"></i></a> <a href="#"><i class="fa-solid fa-heart"></i></a> <a href="#"><i class="fa-solid fa-hands-clapping"></i></a>
      </div>
    </article>
    <article>
      <figure>
        <a href="#">

            <!-- <img src="" alt=""> -->
        </a>
      </figure>
      <div class="txtBox">
        <ul>
          <li class="date"><a href="#">0000.00.00</a></li>
          <li class="tag">
            <a href="#">一次創作</a>
            <a href="#">日記</a>
            <a href="#">BuJo</a>
          </li>
        </ul>
        <h3 class="tit_h3"><a href="#" >タイトル</a></h3>
        <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
      </div>
      <div class="reaction_btn">
        <a href="#"><i class="fa-solid fa-arrows-rotate"></i></a> <a href="#"><i class="fa-solid fa-heart"></i></a> <a href="#"><i class="fa-solid fa-hands-clapping"></i></a>
      </div>
    </article>
    <article>
      <figure>
        <a href="#">

            <!-- <img src="" alt=""> -->
        </a>
      </figure>
      <div class="txtBox">
        <ul>
          <li class="date"><a href="#">0000.00.00</a></li>
          <li class="tag">
            <a href="#">一次創作</a>
            <a href="#">日記</a>
            <a href="#">BuJo</a>
          </li>
        </ul>
        <h3 class="tit_h3"><a href="#" >タイトル</a></h3>
        <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
      </div>
      <div class="reaction_btn">
        <a href="#"><i class="fa-solid fa-arrows-rotate"></i></a> <a href="#"><i class="fa-solid fa-heart"></i></a> <a href="#"><i class="fa-solid fa-hands-clapping"></i></a>
      </div>
    </article>
    <article>
      <figure>
        <a href="#">

            <!-- <img src="" alt=""> -->
        </a>
      </figure>
      <div class="txtBox">
        <ul>
          <li class="date"><a href="#">0000.00.00</a></li>
          <li class="tag">
            <a href="#">一次創作</a>
            <a href="#">日記</a>
            <a href="#">BuJo</a>
          </li>
        </ul>
        <h3 class="tit_h3"><a href="#" >タイトル</a></h3>
        <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
      </div>
      <div class="reaction_btn">
        <a href="#"><i class="fa-solid fa-arrows-rotate"></i></a> <a href="#"><i class="fa-solid fa-heart"></i></a> <a href="#"><i class="fa-solid fa-hands-clapping"></i></a>
      </div>
    </article>
    <article>
      <figure>
        <a href="#">

            <!-- <img src="" alt=""> -->
        </a>
      </figure>
      <div class="txtBox">
        <ul>
          <li class="date"><a href="#">0000.00.00</a></li>
          <li class="tag">
            <a href="#">一次創作</a>
            <a href="#">日記</a>
            <a href="#">BuJo</a>
          </li>
        </ul>
        <h3 class="tit_h3"><a href="#" >タイトル</a></h3>
        <p>この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。</p>
      </div>
      <div class="reaction_btn">
        <a href="#"><i class="fa-solid fa-arrows-rotate"></i></a> <a href="#"><i class="fa-solid fa-heart"></i></a> <a href="#"><i class="fa-solid fa-hands-clapping"></i></a>
      </div>
    </article>
  </section>
</main>
<%- include(root + '_inc/_footer',{root,thisPage}) %>
