<%
    var root;
    var thisPage;
%>
  <footer>
    <p class="footer_logo">
      <a href="/"><img src="/images/index/logo_transparent.png" alt="いそべあげ"></a>
    </p>
    <ul class="contact_list">
      <li>
        <a href="#">ask</a>
      </li>
      <li>
        <a href="#">googleフォーム</a>
      </li>
    </ul>
    <small class="">&copy 2017-2023 isobeage, All Rights Reserved.</small>
  </footer>

</div> <!-- /contents_wrap -->
  <script type="module" src="<%= root %>js/menu.js"></script>
</body>
</html>
