<%
    var root;
    var thisPage;
%>
<div class="fixd_area_wrap">
  <header class="">
    <div class="tit_wrap">
      <h1 class="siteTit"><a href="/">いそべあげ</a></h1>
      <div class="icon_pic"></div>
    </div>
    <nav>
      <ul>
        <li><a href="#">Top</a></li>
        <li><a href="#">about</a></li>
        <li><a href="#">works</a></li>
        <li><a href="#">BuJo</a></li>
        <li><a href="#">News/diary</a></li>
        <li><a href="#">ask</a></li>
        <li><a href="#">archive</a></li>
      </ul>
    </nav>
  </header>
  <div class="about_contents">
    <h2 class="tit_h2">About</h2>
    <p class="txt_honbun">
      一次創作サークル「いそべあげ」による創作サイトです。<br>
      画像・本文の自作発言・転載・加工・使用はお断りしております。<br>
      ご紹介いただける場合はURLの共有やリブログ等でいただけますと嬉しいです。<br>
      Repost is prohibited<br><br>

      サイトのソースコードについては<a href="#">こちら</a>で公開中。<br>
      html/CSS/JSはコピペOKです。
    </p>

    <h3 class="tit_h3">サイトマップ</h3>
    <dl class="map_list">
      <dt><a href="#">top</a></dt>
      <dd>トップページ。最新投稿を5件ご確認いただけます。</dd>
      <dt>about</dt>
      <dd>ここです</dd>
      <dt><a href="#">works</a></dt>
      <dd>漫画・イラストが見れます。現在短編・単発イラストのみ。</dd>
      <dt><a href="#">BuJo</a></dt>
      <dd>地味バレットジャーナルの記録です。</dd>
      <dt><a href="#">News/diary</a></dt>
      <dd>お知らせ、日記の一覧です。</dd>
      <dt><a href="#">ask</a></dt>
      <dd>TumblrのAsk機能を使ってメッセージを送ることができます（匿名・非ログイン可）。メッセージは返信時公開されます。非公開で質問をしたい方は<a href="#" class="p_link">こちら</a><span>googleフォームに飛びます</span></dd>
    </dl>

    <h3 class="tit_h3">リンクについて</h3>
    <p class="txt_honbun">
      当サイトはリンクフリーです。バナーは現在ありません。
    </p>

    <h4 class="tit_h4">スペシャルサンクス</h4>
    <p class="txt_honbun">
      サイト制作にあたり、参考にさせていただきました。
    </p>
    <ul class="about_ul">
      <li class="big">
        <a href="https://github.com/cornetespoir/basecode">basecode</a>
        <p class="">有志の方によるカスタムテーマのベースコード&amp;wiki<br>（英語ですが、ブラウザ拡張の翻訳ボタンでかなりきれいな日本語で読めます）</p>
      </li>

    </ul>

    <h3 class="tit_h3">「いそべあげ」について</h3>
    <p class="txt_honbun">
      「ひねくれてたっていいじゃないか」をテーマに創作活動している同人サークルです。<br><br>

      作品中の全ての名称、キャラクター、場所などは全て架空のものであり、いかなる国家、文化および人種を示すものではありません。<br>
      実在する出来事や人物、文化との類似が見られることもありますが、全て創作におけるデザインの結果です。<br>
      文化的、その他のいかなる目的もなく、ポジティブな感情を与えることだけが目的です。<br>
      意図しない伝わり方をしないよう努力しておりますが、ふさわしくない表現がございましたらよろしければメッセージなどでご指摘頂けますと嬉しいです。<br><br>


      現在オンライン活動のみ。<br>
      2023年はファンタジー漫画を描いています。<br><br>

      以下サイトでは「いそべあげ」として活動登録・作品登録しています。
    </p>
    <ul class="about_ul">
      <li class="big">
        <a href="#" class="">Etsy</a>
        <p class="">主にはがきサイズの画像ダウンロード販売</p>
      </li>
      <li class="big">
        <a href="#" class="">Kindle インディーズ</a>
        <p class="">漫画公開中</p>
      </li>
      <!-- <li>
        <a href="#" class="">ofuse</a>
        <p class="">感想によるご支援サイト（予定）</p>
      </li>
      <li>
        <a href="#" class="">Xfolio</a>
        <p class="">通販登録予定</p>
      </li> -->
    </ul>

    <h3 class="tit_h3">中の人について</h3>
    <p class="txt_honbun">
      「げそ」と申します。阪神ファン。コロッケが好きです。

    </p>
    <h4 class="tit_h4">中の人リンク</h4>
    <ul class="about_ul">
      <li class="big">
        <a href="#" class="">くるっぷ</a>
        <p class="big_txt">作品はこちらと同時アップ。作業進捗はくるっぷでアップしています。</p>
      </li>
      <li class="big">
        <a href="#" class="">ポートフォリオ</a>
        <p class="big_txt">中の人のポートフォリオサイト</p>
      </li>
      <li class="">
        <a href="#">misskey（隠れ家さん）</a>
        <p class="">日常呟き（低浮上がち）</p>
      </li>
      <li class="">
        <a href="#">pixelfed.tokyo</a>
        <p class="">たまにどうでもいい写真部活動をしています</p>
      </li>
      <li class="">
        <a href="#">fedibird</a>
        <p class="">ひっそりと阪神ファン活動をしています</p>
      </li>
      <!-- <li class="">
        <a href="#">pixiv</a>
        <p class="">二次創作はこちらでアップ中</p>
      </li>
      <li class="">
        <a href="#">げそログ</a>
        <p class="">同じく二次創作関連日記</p>
      </li> -->
    </ul>


    <h3 class="tit_h3">プライバシーポリシー</h3>
    <p class="txt_honbun">
      このサイトはgoogleアナリティクスでアクセス解析を行っています。<br>
      サイト運営の参考にするため、利用デバイス・アクセス元URL・人気のあるページのあたりを参照していますが、その他詳細パラメータは利用しておりません。（たぶん設定もできていません）<br>
      このサイトはTumblrを利用しているため、Tumblr側からアクセス解析・広告配信など行われる可能性があります。

    </p>
  </div>
</div>
<div class="contents_wrap">