<%
    var root;
    var thisPage;
    var title;
%>
<!DOCTYPE html>
<html lang="ja">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>いそべあげ</title>
      <meta name="description" content="説明をいれる">
      <meta http-equiv="Content-Script-Type" content="text/javascript">
      <meta http-equiv="Content-Style-Type" content="text/css">
      <link rel="stylesheet" href="<%= root %>css/reset.css">
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600&family=Shizuru&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/yakuhanjp@3.4.1/dist/css/yakuhanjp-noto.min.css">
      <link href="https://use.fontawesome.com/releases/v6.4.2/css/all.css" rel="stylesheet">
      <link rel="stylesheet" href="<%= root %>css/style.css">
  </head>
  <body class="">