<%
    var root;
    var thisPage;
%>
<li><a href="#">Top</a></li>
<li><a href="#about">about</a></li>
<li><a href="#">works</a></li>
<li><a href="#">BuJo</a></li>
<li><a href="#">News/diary</a></li>
<li><a href="#">ask</a></li>
<li><a href="#">archive</a></li>